<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pers.geolo.guitarworldserver.dao.CommentMapper">

    <select id="select" parameterType="commentParam" resultType="comment">
        SELECT id, works_id, author, create_time, content
        FROM Comment
        <where>
            <if test="commentId != 0">
                AND id = #{commentId}
            </if>
            <if test="worksId != 0">
                AND works_id = #{worksId}
            </if>
        </where>
    </select>

    <insert id="insert" parameterType="comment" useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO Comment(works_id, author, create_time, content)
        VALUES (#{worksId}, #{author}, #{createTime}, #{content});
    </insert>


    <delete id="delete" parameterType="commentParam">
        DELETE
        FROM Comment
        <where>
            <if test="commentId != null">
                AND id = #{commentId}
            </if>
            <if test="worksId != null">
                AND works_id = #{worksId}
            </if>
        </where>
    </delete>

</mapper>