<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pers.geolo.guitarworldserver.dao.ImageMapper">
    <insert id="insert">
        INSERT INTO Image(works_id, image_url)
        VALUES (#{works_id}, #{imageUrl});
    </insert>

    <select id="selectByWorksId" parameterType="int" resultType="string">
        SELECT image_url
        FROM Image
        WHERE works_id = #{worksId};
    </select>
</mapper>