<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pers.geolo.guitarworldserver.dao.UserMapper">
    <insert id="insert" parameterType="user">
        INSERT INTO User(username, password, email)
        VALUES (#{username}, #{password}, #{email});
    </insert>

    <delete id="delete" parameterType="string">
        DELETE
        FROM User
        WHERE username = #{username};
    </delete>

    <update id="update" parameterType="user">
        UPDATE User
        SET password = #{password},
            email    = #{email},
            avatar_path = #{avatarPath}
        WHERE username = #{username};
    </update>

    <select id="selectByUsername" parameterType="string" resultType="user">
        SELECT username, password, email, avatar_path
        FROM User
        WHERE username = #{username};
    </select>

    <!--test-->
    <select id="selectAll" resultType="user">
        SELECT username, password, email, avatar_path
        FROM User;
    </select>

    <select id="selectByFollower" parameterType="string" resultType="user">
        SELECT username, email, avatar_path
        FROM User, UserRelation
        WHERE UserRelation.follower_username = #{follower}
        AND User.username = UserRelation.following_username;
    </select>

    <select id="selectByFollowing" parameterType="string" resultType="user">
        SELECT username, email, avatar_path
        FROM User, UserRelation
        WHERE UserRelation.following_username = #{following}
          AND User.username = UserRelation.follower_username;
    </select>

</mapper>