<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pers.geolo.guitarworldserver.dao.UserDAO">
    <insert id="add" parameterType="user">
        INSERT INTO User(username, password, email)
        VALUES (#{username}, #{password}, #{email});
    </insert>

    <select id="getUser" parameterType="string" resultType="user">
        SELECT username, password, email
        FROM User
        WHERE username = #{username};
    </select>

    <update id="update" parameterType="user">
        UPDATE User
        SET password = #{password},
            email    = #{email}
        WHERE username = #{username};
    </update>

    <delete id="remove" parameterType="string">
        DELETE
        FROM User
        WHERE username = #{username};
    </delete>

</mapper>